<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVnZMFx8NFjJW7zzRKzrROmrUDLjUpq0g</string>
	<key>GCM_SENDER_ID</key>
	<string>791042531175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialmedia</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-5d0e4</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-5d0e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791042531175:ios:b8bdc1a1b84228e77bd9c2</string>
	<key>DATABASE_URL</key>
	<string>https://socialmedia-5d0e4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>